@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {

  .text-theme-gray {
    @apply text-darkBlue dark:text-darkModeLightGray;
  }
  .bg-theme-blue {
    @apply bg-blue-500 dark:bg-darkModeBlue;
  }
  .text-theme-blue {
    @apply text-blue-500 dark:text-darkModeBlue;
  }

  .bg-main {
    @apply bg-lightGray dark:bg-darkBlue;
  }

  .logo-text{
    @apply text-mediumBlue  dark:text-lightGray
  }

  .menu-text{
    @apply text-mediumGray dark:text-lightGray
  }

  .hover-menu-text{
    @apply text-mediumBlue dark:text-lightOrange
  }


}
