@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {

  .text-theme-gray {
    @apply text-darkBlue dark:text-darkModeLightGray;
  }
  .bg-theme-blue {
    @apply bg-blue-500 dark:bg-darkModeBlue;
  }
  .text-theme-blue {
    @apply text-blue-500 dark:text-darkModeBlue;
  }

  .bg-main {
    @apply bg-lightGray dark:bg-darkBlue;
  }
  .text-main {
    @apply text-darkBlue dark:text-lightGray;
  }
 
  .btn-text{
    @apply text-lightGray dark:text-darkBlue;
  }


  .bg-card {
    @apply bg-darkGray dark:bg-lightGray;
  }

  .logo-text{
    @apply text-mediumBlue  dark:text-lightGray
  }

  .menu-text{
    @apply text-darkBlue dark:text-lightGray
  }

  .hover-menu-text{
    @apply text-darkOrange dark:text-lightOrange
  }

  .title-text{
    @apply text-mediumBlue dark:text-lightGray
  }

  .profile-card{
    @apply bg-mediumBlue  dark:bg-lightGray
  }
  .hover-profile-text{
    @apply text-lightOrange dark:text-lightOrange
  }

  .profile-img-border{
    @apply border-darkGray dark:border-lightOrange
  }

  .notify-username{
    @apply text-mediumBlue dark:text-lightOrange
  }

}
