@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@layer utilities {
 


  .bg-main {
    @apply bg-lightGray dark:bg-darkBlue;
  }
  .bg-reverse-main {
    @apply bg-mediumGray dark:bg-lightGray;
  }
  .bg-chatlist-item {
    @apply bg-mediumGray/50 dark:bg-white/20;
  }
  .text-main {
    @apply text-darkBlue dark:text-lightGray;
  }
  .bg-model {
    @apply bg-darkBlue dark:bg-lightGray;
  }

  .modal-title {
    @apply text-lightGray dark:text-mediumBlue;
  }

  .btn-text {
    @apply text-lightGray dark:text-darkBlue;
  }

  .bg-card {
    @apply bg-darkGray dark:bg-lightGray;
  }

  .logo-text {
    @apply text-mediumBlue  dark:text-lightGray;
  }

  .menu-text {
    @apply text-darkBlue dark:text-lightGray;
  }

  .hover-menu-text {
    @apply text-lightOrange dark:text-lightOrange;
  }

  .title-text {
    @apply text-mediumBlue dark:text-lightGray;
  }

  .profile-card {
    @apply bg-mediumBlue  dark:bg-lightGray;
  }
  .hover-profile-text {
    @apply text-lightOrange dark:text-lightOrange;
  }

  .profile-img-border {
    @apply border-darkGray dark:border-lightOrange;
  }

  .notify-username {
    @apply text-lightOrange dark:text-lightOrange;
  }

  .cxs {
    font-size: 0.5rem;
  }
  .csm {
    font-size: 0.8rem;
  }

  .chat-line {
    @apply border-gray-300 dark:border-mediumBlue;
  }
  .user-menu-area{
    @apply bg-darkGray/30 dark:bg-lightGray/10;
  }
  .notify-menu-area{
    @apply bg-slate-200/20 dark:bg-slate-200;
  }

  .bg-input {
    @apply bg-gray-300 dark:bg-darkGray;
  }

  .border-user-menu{
    @apply border-mediumBlue dark:border-lightGray
  }
  .text-user-menu{
    @apply text-mediumBlue dark:text-lightGray
  }


}

@layer utilities {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-darkGray/50 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-darkOrange rounded-md

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-darkOrange
  }

  .bg-black-alpha{
    background-color: #0000004b;
  }
}
